<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css">
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<form id="new-form" action="/flights/<%=flight._id %>?_method=PUT" method="POST">
    <label for="airline">Airline:</label>
    <%= console.log(flight.airline) %>
    <input type="tex" name="airline" id="airline" value ='<%=flight.airline%>'>
    
    <label for="airport">Airport:</label>
    <input type="tex" name="airport" id="airport" value ='<%=flight.airport%>'>

  

    <label for="flightNo">FlightNo:</label>
    <input type="number" name="flightNo" id="flightNo" value="<%= flight.flightNo %>">

    <label for="departs">Departs:</label>
    <input type="Date" name="departs" id="departs" value="flight.departs">

    <button type="submit">Save Flight.</button>
  
    
</form>
</main>

<%- include('../partials/footer') %>